@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@source inline("xl:col-span-{3,4,6,8,9}");
@custom-variant dark (&:where(.dark, .dark *));

*, body,html{
    font-family: 'Outfit', sans-serif;
}

@theme {
    --color-success-50: #ecfdf3;
    --color-success-300: #6ce9a6;
    --color-success-500: #12b76a;
    --color-success-600: #039855;
    --color-success-700: #027a48;
    --color-success-800: #05603a;
    --color-error-50: #fef3f2;
    --color-error-300: #fda29b;
    --color-error-400: #f97066;
    --color-error-500: #f04438;
    --color-error-600: #d92d20;
    --color-error-700: #b42318;
    --color-error-800: #912018;
    --color-warning-50: #fffaeb;
    --color-warning-400: #fdb022;
    --color-warning-500: #f79009;
    --color-warning-600: #dc6803;
    --color-warning-700: #b54708;
    --color-info-50: #eff6ff;
    --color-info-300: #93c5fd;
    --color-info-500: #2563eb;
    --color-info-600: #1d4ed8;
    --color-info-700: #1e40af;
    --color-info-800: #1e3a8a;
  }

